.App {
  text-align: center;
}

.info-container {
  display: flex;
  width: 100%; /* 컨테이너가 전체 너비를 차지하도록 설정 */
}

.info1 {
  flex: 1; /* 너비를 1:1 비율로 나눔 */
  padding: 20px; /* 보기 좋게 안쪽 여백 추가 */
}

.short-intro {
  flex: 2; /* 너비를 1:1 비율로 나눔 */
  padding: 20px; /* 보기 좋게 안쪽 여백 추가 */
}

.skills {
  flex: 1;
  padding: 20px; /* 보기 좋게 안쪽 여백 추가 */

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
